<!DOCTYPE html>
<html>
<head>
    <title>Edit Job</title>
</head>
<body>

<div class="navbar">
    Edit Job
    <a href="/company/dashboard">Back</a>
</div>

<div class="container">
    <div class="card">
        <h2>Edit Job Details</h2>

        <form method="POST">
            <label>Job Title</label>
            <input type="text" name="title" value="{{ job.title }}" required>

            <label>Skills</label>
            <input type="text" name="skills" value="{{ job.skills }}" required>

            <label>Salary</label>
            <input type="text" name="salary" value="{{ job.salary }}" required>

            <label>Description</label>
            <textarea name="description" rows="5" required>{{ job.description }}</textarea>

            <button type="submit">Update Job</button>
        </form>
    </div>
</div>

</body>
</html>
